<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spherogame.spheroandroidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InstructionsActivity" />
        <activity android:name=".MenuActivity" />

        <receiver android:name="com.bezirk.middleware.android.ZirkMessageReceiver">
            <intent-filter>
                <action android:name="com.bezirk.middleware.broadcast" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".CardActivity" />
        <activity android:name=".MakeMoveActivity" />
        <activity android:name=".PassPhoneActivity" />
        <activity android:name=".SetPlayerActivity" />
        <activity android:name=".MakeTurnActivity"></activity>
    </application>

</manifest>